click==7.1.2
jsonschema==3.2.0
pandas==1.0.4
filetype==1.0.7
PyMuPDF==1.17.2
PyPDF2==1.26.0
ocrmypdf==11.3.2
spacy==3.0.6
spacy-legacy==3.0.5
syntok==1.3.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz
xlrd==2.0.1
beautifulsoup4==4.9.1
w3lib==1.22.0
xhtml2pdf==0.2.5
reportlab==3.5.55
attrs==19.3.0
pyrsistent==0.16.0
pytz==2020.1
python-dateutil==2.8.1
numpy==1.19.5
pluggy==0.13.1
pikepdf==2.16.1
cffi==1.14.0
tqdm==4.46.1
pdfminer.six==20201018
img2pdf==0.4.0
thinc==8.0.4
packaging==20.4
typer==0.3.2
requests==2.23.0
Jinja2==2.11.2
MarkupSafe==1.1.1
regex==2020.5.14
python-bidi==0.4.2
arabic-reshaper==2.1.0
html5lib==1.1
six==1.15.0
Pillow==8.0.1
lxml==4.5.1
chardet==3.0.4
certifi==2020.12.5
idna==2.9
urllib3==1.24.3
cryptography==2.9.2
sortedcontainers==2.2.2
coloredlogs==14.0
pydantic==1.7.4
blis==0.4.1
catalogue==2.0.4
cymem==2.0.3
murmurhash==1.0.2
preshed==3.0.2
srsly==2.4.1
wasabi==0.8.2
pathy==0.5.2
webencodings==0.5.1