absl-py==1.0.0
alembic==1.7.7
annoy==1.17.0
anyio==3.5.0
appnope==0.1.3
asgiref==3.5.0
astroid==2.11.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
backcall==0.2.0
blis==0.7.7
boto3==1.21.40
botocore==1.24.40
cachetools==5.0.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
coloredlogs==15.0.1
cryptography==36.0.2
cycler==0.11.0
cymem==2.0.6
databricks-cli==0.16.6
decorator==5.1.1
deprecated==1.2.13
devtools==0.8.0
dill==0.3.4
docker==5.0.3
elastic-transport==8.1.1
elasticsearch==8.1.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
entrypoints==0.4
executing==0.8.3
faiss-cpu==1.7.2
fastapi-utils==0.2.1
fastapi==0.75.1
filelock==3.6.0
filetype==1.0.10
flake8==4.0.1
flask==2.1.1
flatbuffers==2.0
fonttools==4.32.0
gast==0.5.3
gensim==4.1.2
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.6
google-auth==2.6.4
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.45.0
gunicorn==20.1.0
h11==0.13.0
h5py==3.6.0
huggingface-hub==0.5.1
humanfriendly==10.0
hypothesis==6.43.1
idna==3.3
img2pdf==0.4.4
importlib-metadata==4.11.3
importlib-resources==5.7.0
iniconfig==1.1.1
ipython==8.2.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.4.0
keras-preprocessing==1.1.2
keras==2.8.0
kiwisolver==1.4.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
libclang==13.0.0
lxml==4.8.0
mako==1.2.0
markdown==3.3.6
markupsafe==2.1.1
matplotlib-inline==0.1.3
matplotlib==3.5.1
mccabe==0.6.1
mlflow==1.25.1
murmurhash==1.0.6
mypy-extensions==0.4.3
mypy==0.942
neo4j==4.4.2
networkx==2.8
nltk==3.7
numpy==1.22.3
oauthlib==3.2.0
ocrmypdf==13.4.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathy==0.6.1
pdfminer.six==20220319
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==5.1.1
pillow==9.1.0
platformdirs==2.5.1
pluggy==1.0.0
preshed==3.0.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyflakes==2.4.0
pygments==2.11.2
pyjwt==2.3.0
pylint==2.13.5
pymupdf==1.19.6
pyparsing==3.0.8
pypdf2==1.27.4
pyreadline3==3.4.1
pyrsistent==0.18.1
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
pywin32==227
pyyaml==6.0
querystring-parser==1.2.4
redis==4.2.2
regex==2022.3.15
reportlab==3.6.9
requests-oauthlib==1.3.1
requests==2.27.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
setuptools-scm==6.4.2
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy==3.2.4
sqlalchemy==1.4.35
sqlparse==0.4.2
srsly==2.4.3
stack-data==0.2.0
starlette==0.17.1
syntok==1.4.4
tabulate==0.8.9
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow==2.8.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.15
threadpoolctl==3.1.0
tokenizers==0.12.1
tomli==2.0.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
traitlets==5.1.1
transformers==4.18.0
txtai==4.3.1
typer==0.4.1
typing-extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
waitress==2.1.1
wasabi==0.9.1
wcwidth==0.2.5
websocket-client==1.3.2
werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
