Jinja2==2.11.*
Mako==1.1.*
PyMuPDF==1.18.*
PyPDF2==1.26.*
PyYAML==5.4.*
SQLAlchemy==1.3.*
beautifulsoup4==4.10.*
boto3==1.13.*
botocore==1.16.*
click==7.1.*
elasticsearch==7.9.1
gamechangerml @ https://github.com/dod-advana/gamechanger-ml/archive/refs/heads/task/UOT-117914.zip
joblib==0.15.*
jsonschema==3.2.*
neo4j==4.3.6
ocrmypdf==12.7.*
pandas==1.0.*
psycopg2==2.9.*
pydantic==1.7.*
pytest==6.2.*
redis==3.5.*
requests==2.23.*
syntok==1.3.*
tqdm==4.46.*
transformers==4.1.*
weasyprint==53.*
xhtml2pdf==0.2.*
