Automat==20.2.0
annoy==1.16.3
Click==7.0
Flask==1.1.2
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Keras==2.3.1
Markdown==3.2.2
MarkupSafe==1.1.1
Protego==0.1.16
PyDispatcher==2.0.5
PyHamcrest==2.0.2
PyYAML==5.3.1
Pygments==2.3.1
SQLAlchemy==1.3.19
Scrapy==2.1.0
Twisted==20.3.0
Werkzeug==1.0.1
absl-py==0.9.0
aniso8601==8.0.0
astunparse==1.6.3
attrs==19.3.0
beautifulsoup4==4.9.1
blis==0.4.1
boto3==1.13.2
boto==2.49.0
botocore==1.16.2
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
ci-info==0.2.0
colorama==0.4.3
configobj==5.0.6
configparser==5.0.0
constantly==15.1.0
corenlp-protobuf==3.8.0
corenlp==0.0.14
cryptography==2.9.2
cssselect==1.1.0
cymem==2.0.3
cytoolz==0.10.1
decorator==4.4.2
docutils==0.15.2
elasticsearch==7.9.1
eli5==0.10.1
etelemetry==0.2.1
filelock==3.0.12
fitz==0.0.1.dev2
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth-oauthlib==0.4.1
google-auth==1.16.1
google-pasta==0.2.0
graphviz==0.14
grpcio==1.29.0
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.18.1
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
isodate==0.6.0
itsdangerous==1.1.0
jellyfish==0.8.2
jmespath==0.9.5
joblib==0.15.1
jsonschema==3.2.0
lxml==4.5.1
murmurhash==1.0.2
mlflow==1.11.0
neobolt==1.7.17
neotime==1.7.4
networkx==2.4
neurdflib==5.0.1
nibabel==3.1.0
nipype==1.5.0
nltk==3.5
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.4
parsel==1.6.0
plac==1.1.3
preshed==3.0.2
prompt-toolkit==2.0.10
protobuf==3.12.2
prov==1.5.3
psycopg2==2.8.5
py2neo==4.3.0
pyOpenSSL==19.1.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyxnat==1.3
queuelib==1.5.0
rdflib==5.0.0
redis==3.5.3
regex==2020.5.14
requests-oauthlib==1.3.0
requests==2.23.0
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
service-identity==18.1.0
simplejson==3.17.0
six==1.15.0
sklearn==0.0
smart-open==2.0.0
soupsieve==2.0.1
spacy==2.2.4
spicy==0.16.0
srsly==1.0.2
syntok==1.3.1
tabulate==0.8.7
tensorflow-estimator==2.2.0
termcolor==1.1.0
textblob==0.15.3
thinc==7.4.0
threadpoolctl==2.1.0
toolz==0.10.0
tqdm==4.46.1
traits==6.1.0
typed-ast==1.4.1
urllib3==1.24.3
w3lib==1.22.0
wasabi==0.6.0
wcwidth==0.2.3
wrapt==1.12.1
xgboost==1.1.0
zipp==3.1.0
zope.interface==5.1.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.0
farm-haystack==0.4.0
torch==1.5.1
torchvision==0.6.1
transformers==3.1.0
