# path patterns that docker should ignore if entire repo is put into build context
# ... mostly reminiscent of .gitignore, but we want to focus on ignoring large directories

# Example: if `.git/` is in this file, then when `docker build --file <dockerfile-path> <repo-path>`
# ... is issued, the `.git/` directory will be ignored and won't be exposed to `COPY` directives in Dockerfile

# ignore git dir
**/.git/

# ignore tmp dirs
tmp/
img/

# mypy cache dirs
.mypy_cache/

# pytest cache dirs
.pytest_cache/
