img linguist-vendored
dataPipelines/docs linguist-vendored
common/data linguist-vendored
*.json linguist-vendored
*.json5 linguist-vendored
*.html linguist-vendored
*.xhtml linguist-vendored
*.pickle linguist-vendored
*.csv linguist-vendored
Dockerfile* linguist-language=Dockerfile
*.sh text eol=lf
