# Rendered Configuration Files
configuration/rendered/

# IDE files
.vscode

.idea/
.dev
.idea

# Logs
gamechanger.log
gc.log
dataScience/api/logs/gc_ml_gpu_log.txt
# Envs
venv/*
.env

# Python cache/test/build files

*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
.cache/
htmlcov/
dist/
build/
*.egg-info/

# Mac OS junkfiles
.DS_Store

# DS directories
common/data/processed/*
dataScience/src/modelzoo/semantic/packaged_models/*
!dataScience/src/modelzoo/semantic/packaged_models/.gitkeep

worker-tracking.json

# Misc tmp/ouput dirs
out/
gc_test/
tmp/

# mlflow
mlruns/

# ipynb checkpoints
**/.ipynb_checkpoints

# Transformer models
dataScience/models/transformers

# Don't ignore .gitkeep files
!**/.gitkeep

dataScience/models/topic_models/models

