# Rendered Configuration Files
configuration/rendered/

# IDE files
.vscode
.idea/
.dev
.idea

# Envs
venv/*
.env

# Python cache/test/build files

*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
.cache/
htmlcov/
dist/
build/
*.egg-info/

# Mac OS junkfiles
.DS_Store

# Generated resource directories
common/data/processed/*

# Misc tmp/ouput dirs
out/
gc_test/
tmp/

# mlflow
mlruns/

# ipynb checkpoints
**/.ipynb_checkpoints

# variable files (runtime artifacts, etc.)
/var/**

# Don't ignore .gitkeep files
!**/.gitkeep


