.white { color: white; font-weight: bold; font-size: 11px; line-height: 14px; font-family: Verdana }
.blue     { color: #006; font-weight: bold; font-size: 11px; line-height: 18px; font-family: Verdana }
.headline  { color: black; font-weight: bold; font-size: 13px; line-height: 18px; font-family: Verdana }
a.blue  { color: #006; text-decoration: none }
a:hover.blue      { color: #c00; text-decoration: none }

/* Standardization documents details forms
 *------------------------------------------------- */
.rowInForm td{border-top: 1.5px solid #cccccc;}
.rowInForm td {padding-top:5px;}
.rowInForm font.hdr { color: #000080; font-family: Verdana;  }
.rowInForm table tr td {border-top-width: 0px;}
.rowInForm table tr td table tr td {padding-left: 15px; padding-top:0px;}

/* banner-nsdd
 * ------------------------------------------------ */
#banner-nsdd {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	background:#000000 url("../images/banner-nsdd.jpg"); no-repeat 0 0;
	width:835px;
	height:75px;
}

/* Search Form addition
 * ------------------------------------------------ */
/*Layout*/

#SearchFormContainer img {
	border:0;
}
#SearchFormContainer * {
	margin:0;
	padding:0;
}

#SearchFormContainer  {
	text-align: center; /*Center in the page*/
	margin: 5px 0px;
	position:relative;
}
#SearchFormContainer fieldset{
    margin: 5px;
    padding: 5px; 
    border:1px solid;
    /*height:50px;*/
}

#SearchFormContainer .SearchForm {
    text-align: left;
    border-collapse:collapse;
    border:0;
    margin: auto;
	width: 100%;
	border-radius: 7px;
}


#SearchFormContainer .SearchForm th {
    height:25px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
}

#SearchFormContainer .rbtnContainer tr {
    height:20px;
}

#SearchFormContainer .FieldSetFixedHeight100 {
    height:100px;
}

#SearchFormContainer .FieldSetFixedHeight {
    height:80px;
}

#SearchFormContainer .FieldSetFixedHeight70 {
    height:70px;
}

#SearchFormContainer .btnContainer {
    float:right;
    margin-right:5px;
	margin-bottom:5px;
}

#SearchFormContainer .btnContainer td {
    padding-left:10px;
}

#SearchFormContainer .btnContainerHelp {
	width: 100%;
	border-radius: 7px;
}

#SearchFormContainer .btnContainerHelp a{ 
	padding-left: 10px;
}

#SearchFormContainer .infieldset td{
    padding-top:7px;
    padding-right:11px;
}

#SearchFormContainer .docProperties td {
    padding-right:35px;
}

#SearchFormContainer .btn {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 90px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

#SearchFormContainer .btnLong {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 180px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

#SearchFormContainer2  {
	text-align: center; /*Center in the page*/
	margin: 5px 0px;
	position:relative;
}

#SearchFormContainer2 .btn {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 90px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

#SearchFormContainer2 .btnLong {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 180px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

#SearchFormContainer3  {
	text-align: center; /*Center in the page*/
	margin: 5px 0px;
	position:relative;
}

#SearchFormContainer3 .btn {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 90px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

#SearchFormContainer3 .btnLong {
    border: 1px solid #676767;
    cursor: pointer;
    height: 20px;
    width: 180px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700; 
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
    border-color:#676767;
}

a.btn{
	border: 1px solid ;
    cursor: pointer;
    height: 20px;
	font-family: Verdana; 
	font-size: 10px;
	font-weight:700;
	background-color: #D5DCEF;
    background-image: url("../images/bg_button.gif");
    background-repeat: repeat-x;
    color: #022798;
	padding: 5px;
}

#SearchFormContainer .paddingLeftRight3{
	padding-left: 3px;
	padding-right: 3px;
}

#SearchFormContainer .paddingTop4{
	padding-top: 4px;
}

#NationID_RAT, #NationID_CON, #NationID_ADO, #NationID_STA {
    display: none;
}

#RatSt_RAT, #RatSt_CON, #RatSt_ADO, #RatSt_STA {
    display: none;
}

/*typo*/
#SearchFormContainer {
	font-family: Verdana; 
	font-size: 10px;
}

#SearchFormContainer .SearchForm th {
    font-size: 11px; 
    letter-spacing: 1px; 
    font-weight: 700;
}

#SearchFormContainer select {
    font-family: Verdana; 
	font-size: 10px;
}

#SearchFormContainer .InputText {
    font-family: Verdana; 
	font-size: 10px;
}

/*Color*/
#SearchFormContainer table {
    background-color:#F2F2F2;
}

#SearchFormContainer fieldset{
	border-color:#CCCCCC;
}

#SearchFormContainer legend{
    color:#022798;
}

#SearchFormContainer .SearchForm th {
    background-color:#6b8ec6;
    color:white;
}

#SearchFormContainer div.Note {
    text-align: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}


#SearchFormContainer .DisabledCtrl {
    background-color : #dfdfdf;
}

#SearchFormContainer .EnabledCtrl {
    background-color : #FFFFFF;
}

span.link{
	color: #09c;
	background-color : #e5eaee;
    cursor: pointer;
	font-weight: bold;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}
