attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
idna==2.9
importlib-metadata==1.6.0
itemadapter==0.2.0
jsonschema==3.2.0
lxml==4.5.1
PyMuPDF==1.17.2
pyrsistent==0.16.0
requests==2.23.0
selenium==3.141.0
Scrapy==2.1.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.24.3
zipp==3.1.0
